{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : An App for recording Sports Ground Location   </p>
    <p class="box">
      <i class="fa fa-futbol fa-10x" style="color:darkred"></i>
      <i class="fa fa-heart fa-10x" style="color:gold"></i>
      <i class="fa fa-medal fa-10x" style="color:skyblue"></i>
    </p>
  </div>
</section>
