<form action="/dashboard/addplacemark" method="POST">
  <div class="field">
    <label class="label">Add Sports Ground By Sport</label> 
    <div class="control">
    <div class="select is-rounded is-hoverable">
      <select name="title" required>
        <option value="" disabled selected>Select Sport</option>
        <option value="Soccer">Soccer</option>
        <option value="GAA">GAA</option>
        <option value="Golf">Golf</option>
        <option value="Rugby">Rugby</option>
      </select>
    </div>
  </div>
  </div>
  <button class="button is-link">Add Sport</button>
</form>
